<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aktor.training.course">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="camera" android:required="false"/>

    <uses-feature android:glEsVersion="0x0020000"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/geo_api"/>

        <activity android:name=".aware.FindLocation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <service android:name=".aware.NotifyPosition"
            android:permission="XYZ">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:mimeType="application/pdf"/>
            </intent-filter>
            </service>

        <activity android:name=".gui.MainGuiActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <provider
            android:syncable="true"
            android:authorities="com.aktor.training"
            android:name=".course.GeoNotesProvider"/>

        <service android:name=".course.AuthenticatorFake">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth"/>
        </service>

        <service
            android:name=".course.Sync"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/synch"/>
        </service>
    </application>

</manifest>
